#links {
float:left;
width:150px;
border:1px solid black;
}

li {
	list-style:none;
	margin-left: 0;

}

ul{
	margin-left: 0;
	padding-left: 10px;
}

#firstcolumn {
float:left;
width:130px;
border:1px solid black;
margin-left:10px;
}


#secondcolumn {
float:right;
width:130px;
border:1px solid black;
}


#thirdcolumn {
float:right;
width:130px;
border:1px solid black;
}


#fourthcolumn {
float:left;
width:130px;
border:1px solid black;
}


.boxleft {
float:left;
clear:left;
width:130px;
border:1px solid black;
margin-left:10px;
margin-align:left;
}


.boxright {
float:left;
width:130px;
border:1px solid black;
margin-align:left;
}

#maincontent {
float:left;
overflow: scroll;
width:330px;
}

#maincontent iframe {
margin-left: 10px;
}



#container {
width:582px;
border:1px;
}


#secondcontainer {
width:50px;
}


#map {
width: 400px;
padding-left: 600px;
}

#containertwo {
width: 582px;
border: 1px;
margin-left:200px;
}

.highlight {
	background-color: #ffff00;
}